div:hover{
    border: dotted 2px ;
}
#pri{
    background-color: red;
}
#sec{
    background-color: orange;
}
#com{
    background-color: pink;
    padding: 20px;
}
#esc{
    background-color: rgb(51, 12, 12);
    color: white;
}
#cla{
    background: rgb(248, 240, 241);
}
#pri, #com, #cla{
    font-style: italic;
}