body{
    font-size: 16px;
}
h1{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: 3em;
    font-weight: 600;
    line-height: 10px;
}
ul{
    text-align: center;
}
#ama{
    background-color: yellow;
}
#red{
    background-color: red;
}
#mar{
    background-color: brown;