ol{
    background-color: yellow;
}
.par{
    color: green;
}
.primo{
    text-transform: uppercase;
}
h1, h3{
    color: red;
}
h1{
    font-size: 40px;
    border: 1px black solid;
}
li{

}
.liem{
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
}
.type_lang{
    color: blue;
}
.java{
    background-color: pink;
}
li.links:hover{
    font-weight: 600;
}
.sof:hover{
    color: orange;
}
.wsl:hover .tb:hover{
    color: green;
}
.dd:hover{
    color: yellow;
}
